

/* ヘッダー */
.header {
    align-items: center;
    padding: 10px;
    height: 53px;
    border-bottom: 1px solid #f4f4f4;  
}

.header__heading {
    font-weight: 500;
    font-size: 30px;
    font-family: jsMath-cmti10;
    font-style: italic;
    color: #F5C800;
}


/* コンテンツ */
.main {
    background-color: #f8f8f8;
}

.content {
    padding: 70px;
    
}

/* タイトル */
.title {
    color: #333333;
    font-size: 32px;
    display: inline-block;
}

/* ページネーション */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
}

.pagination li:not(.active) {
    border: 1px solid #E0DFDE;
    padding: 4px 12px;
}

.pagination li:not(:last-child) {
    border-right: none;
}

.pagination a {
    color: #8B7969;
    text-decoration: none;
}

.pagination__link {
    text-decoration: none;
}

.active {
    padding: 4px 12px;
    border: 1px solid #8B7969;
    background-color: #8B7969;
    color: #FFF;
}