.index-upper {
    display: flex;
    justify-content: space-between;
}

.link__button {
    width: 137px;
    height: 50px;
    padding: 13px 20px;
    color: #4B4B4B;
    border-radius: 5px;
    background: #FFA929;
    text-align: center;
    margin: 100px auto 0;
    display: inline-block;
}

.wrapper {
    display: flex;
    margin: 30px auto;
    padding: 0 40px;
}

.sideber {
    margin: 0 40px;
    width: 20%;
}

.search-form {
    padding-bottom: 20px;
    width: 100%;
}

.search-form__item {
    margin-bottom: 20px;
    padding: 10px 15px;
    width: 100%;
    border: 1px solid #E0DFDE;
    border-radius: 25px;
}

.search-form__item-input {
    color: #E0DFDE;
    font-size: 14px;
}

.search-form__button {
    padding: 10px;
    width: 240px;
    border-radius: 5px;
    background-color: #F5C800;
    text-align: center;
}

.search-form__button-submit {
    color: #4B4B4B;
}

.card-row {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

img {
    width: 100%;
    height: auto;
}

.fruits-card {
    margin: 0 10px;
    width: 30%;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.card-text {
    padding: 20px;
    width: 374px;
    display: flex;
    justify-content: space-between;
}

.text {
    display: inline-block;
    font-size: 24px;
    color: #4B4B4B;
}